.container {
    margin-bottom: 5%;
}

img {
    max-width: 15%;
}

#tabdiv {
    margin-bottom: 5%;
}

#navdiv {
    margin-bottom: 5%;
}

h1.d-none.d-md-block {
    font-size: 500%;
	font-weight: 100;
    background-color: #18BC9C;
    color: white;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 3%;
}

.ast {
    color: red;
}

.alert {
    display: none;
}

.loader {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #18BC9C;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    img {
        max-width: 40%;
    }
    .loader {
        left: 55%
    }
}